
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap"); /* Import Varela Font */

/* Closest to ransom note font I could find. It doesn't support special characters though, ffs */
@font-face {
  font-family: 'shoplifter';
  src: url('https://alanmun.github.io/p5r-discord-theme/shoplifter.ttf');
}

@font-face {
  font-family: 'fanransom';
  src: url('https://alanmun.github.io/p5r-discord-theme/Persona5FanRansom.ttf');
}

@font-face {
  font-family: "persona";
  src: url("https://alanmun.github.io/p5r-discord-theme/PersonifiedUXRegular.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "New P5";
  src: url("https://alanmun.github.io/p5r-discord-theme/P5Alt.ttf");
  font-weight: 500;
}

:root {
  --theme: var(--p5-primary);

  /* New Main Color */
  --p5-primary: radial-gradient(circle, #c31e1e, #af0000);
  --p5-primary-accent: rgba(220, 20, 60, 0.9); /* its crimson with alpha */
  --hp-green: rgba(0, 221, 178, 0.90);
  --mp-pink: rgba(255, 102, 237, 0.867);
  --p5-blue: rgba(64, 193, 251, 0.90);
  --p5-system: rgba(43, 43, 43, 0.866);

  /* Standard Variables */

  --primary-dark: #131313;
  --primary-alt: #111;

  /* Backgrounds */
  --background-primary: #101010;
  --background-secondary: var(--primary-alt);
  --background-secondary-alt: var(--primary-alt);
  --background-accent: var(--theme);
  --background-tertiary: var(--theme);
  --background-folder: rgba(96, 125, 139, 0.4);

  /* Channel Text Area */
  --channeltextarea-background: #fff;

  /* Scrollbar */
  --scrollbar-thin-thumb: var(--theme);
  --scrollbar-auto-thumb: var(--theme);
  --scrollbar-auto-track: #222;

  /* Header */
  --header-primary: #fff !important;
  --header-font-family: 'New P5';

  /* Text */
  --text-link: var(--theme);
  --text-muted: #fff;

  /* Focus */
  -focus-primary: #fff;
}

/* Below is experimenting with making everything Varela with 2 default fonts as backup.
  Unfortunately though it visually makes no difference basically, besides altering 
  size of smaller subtexts, which is undesired.
*/
body {
  font-family: "Varela Round", "gg sans", "Noto Sans";
}

/* Applies a background to the chat window. I use ::before to control opacity separately (only on background image) */
main.chatContent-3KubbW::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: var(--p5-system) !important;
  background-size: 100% 100% !important;
  opacity: 0.9;  /* Adjust transparency */
  z-index: 0;
}

/* the top bar containing min/max/X out */
.typeWindows-2-g3UY {
  height: 24px;
}

/* minimize button */
div[aria-label="Minimize"] {
  top: -3px;
  height: 27px;
}

/* maximize button */
div[aria-label="Maximize"] {
  top: -3px;
  height: 27px;
}

/* X out button to quit app */
div[aria-label="Close"] {
  top: -3px;
  height: 27px;
}

/* Discord logo */
.wordmarkWindows-2dq6rw.wordmark-2u86JB {
  background: url("https://alanmun.github.io/p5r-discord-theme/discord-inverted-high-quality-transparent.png");
  background-size: 100% 90%;
  background-repeat: no-repeat;
  left: 5px;
  top: 4px;
  padding-right: 30px;
  filter: brightness(0) invert(1);
}

/* Old discord logo hidden */
.wordmarkWindows-2dq6rw.wordmark-2u86JB > svg {
  visibility: hidden;
}

/* div[aria-roledescription="Message"] div div span{
  line-height: 400% !important;
  padding-left: 2%;
}

div[aria-roledescription="Message"] div div{
  background-image: url("https://alanmun.github.io/p5r-discord-theme/Chat.svg");
  background-repeat: no-repeat;
  background-size: 200px 100px;
  background-position-x: 5%;
  background-position-y: center;
  padding-left: -10% !important;
} */

/* ^^^^^^^^^^ where I left off ^^^^^^^^^ */



/* div[aria-roledescription="Message"]::before,
div[aria-roledescription="Message"]::after {
  content: "";
  position: absolute;
  transform-origin: 0% 0%;
}

div[aria-roledescription="Message"]::before {
  top: 0px;
  left: 8%;
  width: 20%;
  height: 50px;
  background-color: white;
  transform: skew(-19deg);
  z-index: -1;
}

div[aria-roledescription="Message"]::after {
  top: 4%;
  left: 8.25%;
  width: 19%;
  height: 45px;
  background-color: black;
  transform: skew(-12deg);
  z-index: -1;
} */

/* Top Area */

.chat-2ZfjoI 
.toolbar-3_r2xA 
.clickable-ZD7xvu {
  background: #000;
  border-radius: 2px;
  border: 2px solid #fff;
  margin: 0 2px;
  transform: rotate(4deg);
}

.chat-2ZfjoI 
.toolbar-3_r2xA 
.clickable-ZD7xvu:nth-child(even) {
  transform: rotate(-4deg);
}

.chat-2ZfjoI 
.toolbar-3_r2xA 
.clickable-ZD7xvu 
.icon-2xnN2Y {
  padding: 1px;
  box-sizing: border-box;
  width: 20px;
  height: auto;
  color: #fff;
}

.chat-2ZfjoI 
.toolbar-3_r2xA 
.clickable-ZD7xvu.selected-29KTGM {
  background: var(--background-accent);
}

/* .chat-2ZfjoI 
.toolbar-3_r2xA 
.clickable-ZD7xvu:nth-child(2n + 3) 
.icon-2xnN2Y {
  color: var(--theme);
} */

.chat-2ZfjoI 
.toolbar-3_r2xA 
.clickable-ZD7xvu:hover {
  background: #fff;
}

.chat-2ZfjoI 
.toolbar-3_r2xA 
.clickable-ZD7xvu:hover 
.icon-2xnN2Y {
  color: var(--theme);
}

.theme-dark 
.lookFilled-1Gx00P.colorPrimary-3b3xI6 {
  border-radius: 2px;
  background-color: var(--theme);
  color: #fff;
}

.theme-dark 
.lookFilled-1Gx00P.colorPrimary-3b3xI6:hover {
  background: #fff;
  color: var(--theme);
}

/* Search & Filter */

.searchBar-zdmu7v {
  background: rgb(12, 12, 12);
  box-shadow: 0 0 0 2px #fff;
  border-radius: 2px;
  color: #fff;
}

.queryContainer-ZunrLZ {
  background: #000;
  color: #fff;
}

.queryContainer-ZunrLZ.focused-2FU0YH {
  background: rgb(12, 12, 12);
}

.queryContainer-ZunrLZ 
.queryText-j8z984 strong {
  background: #fff;
  color: var(--mp-pink);
  padding: 5px;
}

.queryContainer-ZunrLZ 
.keybindShortcut-3zF1P9 span {
  background: var(--theme);
  color: #fff;
}

.queryContainer-ZunrLZ 
.keybindShortcut-3zF1P9:active span {
  background: #fff;
  color: var(--theme);
}

.resultsGroup-1BPR25 {
  border-radius: 2px;
  border: 2px solid #fff;
  background: #000;
}

.resultsGroup-1BPR25 
.option-2KkUJO::after {
  background: linear-gradient(to left, #000 80%, transparent);
}

.resultsGroup-1BPR25 
.option-2KkUJO 
.plusIcon-2V7coV {
  color: var(--mp-pink);
}

/* Mini-user dock under channels */

/* Mute button */
button[aria-label="Mute"] {
  background: var(--mp-pink); /* p5 pink var, conv'd to rgba */
}

button[aria-label="Deafen"] {
  background: var(--hp-green); 
}

button[aria-label="User Settings"] {
  background: var(--p5-blue); 
}

/* Date */

.timestampVisibleOnHover-9PEuZS {
  font-family: 'New P5';
}

/* Everything below this for date is from og author and probably broken code */

.datePicker-70cO23 {
  background: #000 !important;
}

.datePicker-70cO23 
.calendarPicker-sDhzdi {
  background: #000 !important;
}

.datePicker-70cO23 
.react-datepicker {
  /* background: #000 !important; */
  background: #000 url("https://alanmun.github.io/p5r-discord-theme/calendar.png") center / cover !important;
}

.datePicker-70cO23 
.react-datepicker 
.react-datepicker__header {
  border: none;
  background: none;
}

.datePicker-70cO23
.react-datepicker
.react-datepicker__header
.react-datepicker__day-name {
  background: #000;
  padding: 5px 0;
  color: #fff;
  font-weight: 600;
}

.datePicker-70cO23
.react-datepicker
.react-datepicker__month
.react-datepicker__day {
  background: #000;
}

.datePicker-70cO23
.react-datepicker
.react-datepicker__month
.react-datepicker__day:hover {
  background: var(--theme);
  color: #fff;
}

.datePicker-70cO23
.react-datepicker
.react-datepicker__month
.react-datepicker__day.react-datepicker__day--selected {
color: #fff;
}

.datePicker-70cO23
.react-datepicker
.react-datepicker__month
.react-datepicker__day.react-datepicker__day--selected:hover {
  background: var(--p5-blue);
}

.datePicker-70cO23
.react-datepicker
.react-datepicker__month
.react-datepicker__day.react-datepicker__day--selected::after {
  background: var(--p5-blue);
}

.datePicker-70cO23
.react-datepicker
.react-datepicker__month
.react-datepicker__day
.react-datepicker__day--selected
+ .datePicker-70cO23
.react-datepicker
.react-datepicker__month
.react-datepicker__day {
  color: green;
}

.searchFilter-2UfsDk 
span {
  color: #fff;
  background: var(--mp-pink);
  padding: 0 2px;
  font-weight: 700;
}

.searchAnswer-23w-CH 
span {
  color: #fff;
  background: var(--hp-green);
  padding: 0 2px;
  font-weight: 700;
}

.datePickerHint-17MnA8 
.hintValue-1x-flY {
  background: var(--hp-green) !important;
  color: #fff;
  font-weight: 700 !important;
}

/* Search bar at top right, near min/max/Xout */
.searchBar-jGtisZ {
  border-radius: 0px;
  transform: rotate(-10deg) skewY(10deg);
  height: 29px;
}

/* "Search" placeholder text in search bar at top right */
.public-DraftEditorPlaceholder-root {
  font-family: 'fanransom';
  letter-spacing: 1px;
  font-size: 1.75em;
  padding-top: 3px;
}

/* Search bar above friends list in DMs */
button.searchBarComponent-3N7dCG {
  border-radius: 0 !important;
  transform: rotate(0deg) skewX(-6deg);
  font-family: 'shoplifter';
  font-size: 1.25em !important;
  letter-spacing: 0px;
}

/* Direct Messages icon disable masking to remove rounded corners */
svg.svg-2ifYOU foreignObject {
  /* mask: none; */
}

/* DM popup notification profile pics (when someone dms you) */
.scroller-3X7KbA.none-1rXy4P.scrollerBase-1Pkza4 svg.svg-2ifYOU mask + mask + foreignObject {
  mask: none;
}
div[style="opacity: 1; height: 56px; transform: scale(1);"]:nth-child(even) .listItemWrapper-3d87LP {
  border: solid 2px white;
  border-left-width: 4px;
  border-bottom-width: 1px;
  background: black;
  padding: 2px;
  transform: skewX(-2deg) rotate(2deg);
}
div[style="opacity: 1; height: 56px; transform: scale(1);"]:nth-child(odd) .listItemWrapper-3d87LP {
  border: solid 2px white;
  border-left-width: 4px;
  border-bottom-width: 1px;
  background: black;
  padding: 2px;
  transform: skewY(-3deg) rotate(2deg);
}

/* Server list */
div[aria-label="Servers"] > :nth-child(odd) div.blobContainer-ikKyFs {
  mask: none !important;
  /* border: solid 2px white;
  border-left-width: 4px;
  border-bottom-width: 1px;
  background: black; */
  padding: 2px 15px 2px 0px;
  transform: skewX(-4deg) rotate(6deg);
}
div[aria-label="Servers"] > :nth-child(even) div.blobContainer-ikKyFs {
  mask: none;
  /* border: solid 2px white;
  border-right-width: 4px;
  border-top-width: 1px;
  background: black; */
  padding: 2px 0px 2px 18px;
  /* padding-left: 8px; */
  transform: skewY(4deg) rotate(-6deg);
}
div[aria-label="Servers"] > .wrapper-38slSD div.wrapper-2PSQCG { /* Affects folders */
  mask: none !important;
  /* border: solid 2px white; */
  background: black;
  transform: skewX(4deg) rotate(6deg);
}
div[aria-label="Servers"] > .wrapper-38slSD svg.svg-2ifYOU foreignObject {
  mask: none !important;
  background: none;
}

/* Nuke radius on any server folder */
div[aria-label="Servers"] > .wrapper-38slSD .folderIconWrapper-1oRIZr { 
  border-radius: 0;
  background-color: transparent !important;
}


/* Direct Messages icon */
.guilds-2JjMmN 
.tutorialContainer-1pL9QS 
.wrapper-3kah-n 
.childWrapper-1j_1ub {
  background: rgba(0,0,0,0) url("https://alanmun.github.io/p5r-discord-theme/im.png") no-repeat center /
    120%;
  /* mask: none !important; */
}

/* DM people list */
.interactive-26HRN_ {
  border-radius: 0px;
}


div[aria-label="Members"] > h3.membersGroup-2eiWxl:nth-child(even) > span {
  font-family: var(--header-font-family);
  font-size: 0.80em;
  color: #000;
  background: #fff;
  letter-spacing: 2px;
  border-radius: 2px;
  transform: skewX(9deg);
  padding-left: 3px;
  padding-right: 3px;
  display: inline-block;
}

div[aria-label="Members"] > h3.membersGroup-2eiWxl:nth-child(odd) > span {
  font-family: var(--header-font-family);
  font-size: 0.80em;
  color: #000;
  background: #fff;
  letter-spacing: 2px;
  border-radius: 2px;
  transform: skewX(-9deg);
  padding-left: 3px;
  padding-right: 3px;
  display: inline-block;
}

/* Left Column */

/* This enforces primary coloring back onto server bar */
.scroller-3X7KbA {
  background: var(--p5-primary) !important;
}

.guilds-2JjMmN
.tutorialContainer-1pL9QS
.wrapper-3kah-n
.childWrapper-1j_1ub
svg {
  display: none;
}

.guilds-2JjMmN
.tutorialContainer-1pL9QS
.wrapper-3kah-n.selected-bZ3Lue
.childWrapper-1j_1ub {
  color: #fff;
}

.guilds-2JjMmN 
.lowerBadge-3WTshO {
  background: var(--theme);
}

.guilds-2JjMmN 
.lowerBadge-3WTshO 
.numberBadge-37OJ3S {
  background: var(--theme) !important;
  color: #fff;
}

.guilds-2JjMmN .folderIconWrapper-226oVY {
  background: rgba(10, 10, 10, 0.5) !important;
}

.guilds-2JjMmN .circleIconButton-jET_ig {
  background: #fff;
}

.guilds-2JjMmN .circleIconButton-jET_ig svg {
  color: var(--hp-green);
}

.guilds-2JjMmN 
.circleIconButton-jET_ig:hover {
  background: var(--mp-pink);
}

.guilds-2JjMmN 
.circleIconButton-jET_ig:hover 
svg {
  color: #fff;
}

.bar-30k2ka {
  background: #000;
  border-radius: 2px;
  box-shadow: 0 0 0 2px #fff, -2px -1px 0 2px #fff;
}

/* Popout Above Guilds */

.menu-3sdvDG 
.scroller-3BxosC {
  background: #000;
  border-radius: 2px;
  border: 2px solid #fff;
}

.menu-3sdvDG 
.scroller-3BxosC 
.item-1tOPte {
  color: #fff;
}

.menu-3sdvDG 
.scroller-3BxosC 
.item-1tOPte.focused-3afm-j {
  background: var(--theme);
}

.menu-3sdvDG
.scroller-3BxosC
.item-1tOPte:nth-child(2n + 2)
.iconContainer-2-XQPY
  svg {
  color: var(--theme) !important;
}

/* Friends Page Main Area */

.container-ZMc96U.themed-Hp1KC_ {
  background: var(--background-secondary);
}

.theme-dark .children-3xh0VB:after {
  display: none;
}

.interactive-1vLZ_I:hover {
  background: rgba(10,10,10,0.5);
}

.interactive-1vLZ_I.interactiveSelected-29CP8y.selected-3veCBZ {
  background: rgba(10,10,10,0.5);
}

.peopleColumn-1wMU14 {
  background: rgba(10, 10, 10, 0.8);
}

.peopleList-2VBrVI .peopleListItem-u6dGxF .avatar-2e8lTP {
  border: 2px solid #fff;
  border-radius: 2px;
  background: #000;
}

.peopleList-2VBrVI .peopleListItem-u6dGxF:nth-child(2n + 3) .avatar-3W3CeO {
  transform: rotate(4deg);
}

.peopleList-2VBrVI .peopleListItem-u6dGxF .avatar-2e8lTP svg foreignObject {
  mask: url("https://alanmun.github.io/p5r-discord-theme/im.png");
}

.peopleList-2VBrVI .peopleListItem-u6dGxF .actions-1SQwjn .actionButton-uPB8Fs {
  border-radius: 2px;
  background: #000;
  border: 2px solid #fff;
  transform: rotate(-4deg);
  color: #fff;
}

.peopleList-2VBrVI .peopleListItem-u6dGxF:hover {
  background: rgba(10,10,10,0.8);
}

.peopleList-2VBrVI
  .peopleListItem-u6dGxF
  .actions-1SQwjn
  .actionButton-uPB8Fs:nth-child(even) {
  color: var(--theme);
}

/* Now Playing */

.nowPlayingColumn-2sl4cE {
  background: #000;
}

.nowPlayingColumn-2sl4cE .itemCard-v9viV7 {
  background: var(--primary-alt);
  border: 2px solid #fff;
  border-radius: 2px;
  transform: skew(-3deg);
}

.nowPlayingColumn-2sl4cE .itemCard-v9viV7:nth-child(even) {
  transform: skew(3deg);
}

.nowPlayingColumn-2sl4cE .itemCard-v9viV7 .section-2gLsgF {
  background: #101010;
}

/* Main Message Area */

/* .chat-2ZfjoI {
  background: var(--primary-dark);
} */

.chat-2ZfjoI .title-3qD0b- {
  background: var(--primary-alt);
}

.emptyChannelIcon-1YdEz2 {
  border-radius: 0;
  background-color: #000;
  border-radius: 2px;
  border: 2px solid #fff;
  transform: rotate(-4deg);
}

.emptyChannelIcon-1YdEz2 svg {
  color: #000 !important;
}

/* Messages */

/* Profile picture box inside of any chat (dm or server) */
/* li .header-2jRmjb {
  background-image: url('https://alanmun.github.io/p5r-discord-theme/PFP.svg');
  background-repeat: no-repeat;
  background-position: -150px 0px;
  z-index: 5;
  overflow: visible;
} */
li:nth-child(odd) .message-2CShn3 {
  margin-left: 2%;
}
li:nth-child(odd) .message-2CShn3 .avatar-2e8lTP {
  /* left: -2%; */
  border-radius: 0;

  /* box-shadow: 0px 0px 10px 5px red inset;
  border: 3px solid white;
  border-bottom-width: 4px;
  border-top-width: 0px; */
  
  z-index: 1;
  overflow: visible; /* This was set by original author, but seemingly no effect */
  transform: rotate(-2deg) skew(3deg);
}
  /* ^_^_^_^_^_^_^_^_^_^_^_^_^_^_^_^_^_^_^_^_^_^_^_^_^_^_^_^_^_^_^_^_^_^_^_ */
li:nth-child(even) .message-2CShn3 {
  margin-left: 2%;
}
li:nth-child(even) .message-2CShn3 .avatar-2e8lTP {
  /* left: -2%; */
  border-radius: 0;

  border: 2px solid #fff;
  transform: rotate(2deg) skew(-3deg);
  overflow: visible; /* This was set by original author, but seemingly no effect */
}

.message-2CShn3 .markup-eYLPri {
  font-family: "Varela Round", sans-serif;
  font-size: 0.85em;
}

.message-2CShn3 .markup-eYLPri span {
  color: var(--theme);
}

.message-2CShn3 .markup-eYLPri span:hover {
  background: #fff;
  color: #000;
}

.contents-2MsGLg .markup-eYLPri > span {
  color: #fff;
}

.contents-2MsGLg .markup-eYLPri > span > span.highlight {
  background: var(--p5-primary);
  color: #fff;
}

/* Message Hover Buttons */

/* Idea: color these buttons? */
/* aria-label="Add Reaction" */

.message-2CShn3 .buttons-3dF5Kd .wrapper-2vIMkT {
  border-radius: 0;
  overflow: none;
}

.message-2CShn3 .buttons-3dF5Kd .wrapper-2vIMkT .button-3bklZh {
  border-radius: 2px;
  background: #000;
  color: #fff;
  border: 2px solid #fff;
  transform: rotate(4deg);
  padding: 1px;
}

.message-2CShn3 .buttons-3dF5Kd .wrapper-2vIMkT .button-3bklZh:nth-child(even) {
  transform: rotate(-4deg);
}

.message-2CShn3 .buttons-3dF5Kd .wrapper-2vIMkT .button-3bklZh:hover {
  background: var(--theme);
}

/* .theme-dark .message-2CShn3 {
  background: var(--primary-dark);
  box-shadow: none;
} */

.theme-dark .message-2CShn3 .disableInteraction-286MMw {
  background: var(--primary-dark);
}

.lookFilled-1Gx00P.colorGreen-29iAKY {
  background: var(--hp-green);
}

/* Targets all usernames and "Friends" + "Nitro" at top of DM list */
.name-2m3Cms {
  font-family: "fanransom";
  font-size: 1.5em;
  letter-spacing: 2px;
  line-height: normal;
}

/* Overrides first class with more specificity so we don't apply font to every username */
.name-2m3Cms > .overflow-1wOqNV {
  font-family: 'Varela Round';
  font-size: initial;
  letter-spacing: normal;
}

/* Message Requests, which occassionally appears under Friends and Nitro */
a[data-list-item-id="private-channels-uid_23___messageRequests"] .name-2m3Cms {
  font-size: 1.3em;
  letter-spacing: 1px;
  white-space: normal;
}

/* DIRECT MESSAGES header text, just above list of people to dm */
h2.privateChannelsHeaderContainer-1UWASm {
  height: 43px;
  margin-left: -5px;
}

/* The actual span inside of the above DM header */
h2.privateChannelsHeaderContainer-1UWASm > span {
  font-family: "fanransom";
  font-size: 1.2em;
  font-weight: lighter;
  color: #fff;
  background: var(--p5-primary);
  line-height: 23px;
  letter-spacing: 1px;
  text-align: center;
  transform: skew(12deg);
}

/* Date dividers */

.divider-IqmEqJ {
  /* border-color: rgba(255, 255, 255, 0.7); */
  border-color: #333;
}

/* Sets the font for actual date dividers in chats */
.divider-IqmEqJ .content-3spvdd {
  font-family: "New P5";
  font-size: 0.75em;
  color: #000;
  background: #fff;
  letter-spacing: 3px;
  border-radius: 2px;
  border: 2px solid #000;
  padding: 5px;
  transform: skew(6deg);
}

.divider-IqmEqJ:nth-child(2n + 1) .content-3spvdd {
  transform: skew(-6deg);
}

.messageContent-2t3eCI .mention {
  background: var(--p5-primary);
  color: #fff !important;
}

.messageContent-2t3eCI .mention:hover {
  background: rgba(0, 0, 0, 0.6) !important;
}

/* User Message Area */

/* chat box */
.scrollableContainer-15eg7h {
  overflow-y: hidden;
  padding-right: 8px;
  border-radius: 0;
  transform: skewX(-4deg);
}

/* Holds the buttons inside of the chat box and placeholder text */
.scrollableContainer-15eg7h .inner-NQg18Y {
  transform: skewX(4deg); /* This counter-skew unskews the above skew for chat box buttons, which was done for the overall chat box */
}

/* Affects any text user has written into the chat box */
.scrollableContainer-15eg7h .inner-NQg18Y .markup-eYLPri span {
  font-size: 0.96em;
  font-family: "Varela Round", "gg sans";
  color: #000;
}

/* These two affect just inline code formatted text using `backticks` */
.markup-eYLPri span:is(.before_inlineCode-1zngJj, .inlineCode-ERyvy_, .after_inlineCode-2_JXPm) {
  background: rgba(0, 0, 0, 0.1) !important;
}

/* Placeholder text for chat box / message box */
.placeholder-1rCBhr {
  font-family: "fanransom";
  font-size: 1.5em;
  line-height: 25px;
  letter-spacing: 3px;
  font-weight: bolder;
}

/* The add attachment button */
path.attachButtonPlus-3IYelE {
  fill: crimson;
}

button.attachButton-_ACFSu:hover path {
  fill: var(--background-primary) !important;
}

path.attachButtonPlus-3IYelE:hover {
  fill: var(--background-primary) !important;
}

/* Buttons inside of and to the right in the message edit box */ 
.buttons-uaqb-5 button[aria-label="Send a gift"] svg {
  color: var(--mp-pink);
}
.buttons-uaqb-5 button[aria-label="Open GIF picker"] svg {
  color: var(--hp-green);
}
.buttons-uaqb-5 button[aria-label="Open sticker picker"] svg {
  color: var(--p5-blue);
}
.buttons-uaqb-5 button[aria-label="Select emoji"] div.sprite-2lxwfc {
  filter: unset !important;
}

.placeholder-1_mJY1 {
  font-family: "Varela Round", sans-serif;
  color: rgba(0, 0, 0, 0.6);
  font-size: 0.9em;
}

.channelTextArea-1VQBuV .buttons-uaqb-5 button:hover svg path {
  fill: var(--theme);
}

.channelTextArea-1VQBuV .slateTextArea-27tjG0 {
  caret-color: var(--theme);
}

.channelTextArea-1VQBuV .slateTextArea-27tjG0 .syntaxBefore-3pDAmR,
.channelTextArea-1VQBuV .slateTextArea-27tjG0 .inlineCode-2auMQi,
.channelTextArea-1VQBuV .slateTextArea-27tjG0 .syntaxAfter-OxiKEl {
  background: var(--mp-pink);
}

.channelTextArea-1VQBuV .slateTextArea-27tjG0 .inlineCode-2auMQi span {
  color: #fff;
}

/* / Command Area */
.channelTextArea-1VQBuV .autocomplete-3NRXG8 {
  transform: skewX(-2deg);
}

.channelTextArea-1VQBuV .autocomplete-3NRXG8 .autocompleteInner-y1mjDl {
  background: var(--background-secondary);
}

.channelTextArea-1VQBuV
  .autocomplete-3NRXG8
  .autocompleteInner-y1mjDl
  .categorySection-3hl0bM
  .wrapper-1NNaWG {
  background: none;
}

.channelTextArea-1VQBuV
  .autocomplete-3NRXG8
  .autocompleteInner-y1mjDl
  .infoWrapper-33i2RS
  .colorInteractiveActive-30E9n8 {
  color: #fff;
}

.channelTextArea-1VQBuV
  .autocomplete-3NRXG8
  .autocompleteInner-y1mjDl
  .selected-3H3-RC {
  background: var(--theme) !important;
}

.theme-dark .pill-2pQByF {
  background: var(--hp-green);
}

.theme-dark .pill-2pQByF span {
  color: #fff;
}

.newMessagesBar-265mhP {
  border-radius: 2px;
  background: #101010 url("https://alanmun.github.io/p5r-discord-theme/notification.gif")
    no-repeat;
  background-position-y: 3px;
  background-position-x: 10px;
  background-size: 20px;
  box-shadow: 0 0 0 2px #fff;
  top: 2px;
  flex-direction: column;
  display: inline-flex;
  left: 50%;
  transform: translateX(-50%);
  right: 0;
}

/* Mention override cause it's too hard to read as is */

.slateTextArea-27tjG0 .mention {
  background: var(--mp-pink) !important;
  color: #fff;
}

/* Channel Column & Below */

.flowerStarContainer-3zDVtj .childContainer-1wxZNh svg path {
  fill: #fff;
}

.containerDefault-YUSmu3 {
  font-family: "Varela Round", sans-serif;
}

.containerDefault-YUSmu3 .iconContainer-21RCa3 {
  background: #000;
  border-radius: 2px;
  /* border: 1px solid #fff; */
  box-shadow: 0 0 0 2px #fff;
  transform: skewX(4deg);
}

.containerDefault-YUSmu3:nth-child(even) .iconContainer-21RCa3 {
  transform: skewX(-4deg);
}

.containerDefault-YUSmu3 .iconContainer-21RCa3 svg {
  color: #fff !important;
}

.containerDefault-YUSmu3:hover .iconContainer-21RCa3 {
  background: var(--theme);
}

.containerDefault-YUSmu3:nth-child(2n + 1):hover .iconContainer-21RCa3 {
  background: #fff;
}

.containerDefault-YUSmu3:nth-child(2n + 1):hover .iconContainer-21RCa3 svg {
  color: var(--theme) !important;
}

.containerDefault-YUSmu3.selected-2TbFuo .iconContainer-21RCa3 {
  background: var(--theme);
}

.containerDefault-YUSmu3.selected-2TbFuo .iconContainer-21RCa3 svg {
  color: #fff !important;
}

.containerDefault-YUSmu3.selected-2TbFuo .content-1gYQeQ {
  border-radius: 2px;
  background: rgba(255, 255, 255, 0.1);
}

.panels-3wFtMD .flex-2S1XBF .button-12Fmur {
  transform: rotate(2deg);
  color: #fff;
  border: 2px solid #fff;
  border-radius: 2px;
}

.panels-3wFtMD .flex-2S1XBF .button-12Fmur:nth-child(even) {
  transform: rotate(-4deg);
}

.panels-3wFtMD .flex-2S1XBF .button-12Fmur:hover {
  background: #fff;
  color: var(--theme);
}

/* For fun... */

.avatarSpeaking-2IGMRN {
  box-shadow: inset 0 0 0 2px var(--hp-green),
    inset 0 0 0 3px var(--background-secondary);
}

/* Activity Panel */

.activityPanel-28dQGo .body-GmmuPm {
  position: relative;
  background: var(--theme);
  border: 2px solid #fff;
  transform: skewY(2deg);
}

.activityPanel-28dQGo .body-GmmuPm svg {
  color: #fff;
}

.activityPanel-28dQGo .body-GmmuPm::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 10px solid #fff;
  left: 90%;
  top: 100%;
}

/* Some text appears black when it shouldn't be. If you still see issues, delete first two class? */
.defaultColor-1EVLSt.lineClamp2Plus-2SCQmH.text-sm-normal-AEQz4v span{
  color: ghostwhite;
}

/* Right Members Area */

.member-3-YXUe .name-uJV0GL {
  font-weight: 600;
}

/* User Panel (right column fuller display of user) */
.none-1rXy4P.scrollerBase-1Pkza4:not(.scroller-nxCRu_) {
  background-image: url("https://alanmun.github.io/p5r-discord-theme/p5star.gif");
  background-position: center 100%;
  background-repeat: no-repeat;
  background-color: rgba(0,0,0,0)
}

/* User Popout */

.userPopoutInner-nv9Y92.userProfileInner-1ngKnf {
  background-image: url("https://alanmun.github.io/p5r-discord-theme/p5star.gif");
  background-position: center center;
  background-repeat: no-repeat;
  background-color: rgba(0,0,0,0)
}

.userProfileOuterThemed-2BgJCM.userPopoutOuter-1OHwPL, .userProfileOuterThemed-2BgJCM.userProfileOuter-2tQwNf {
  padding: 0px;
}

.userPopoutOverlayBackground-3A0Pcz overlayBackground-2aa7wt

.profileBadges-2pItdR.containerWithContent-2Yws8V.container-1gYwHN {
  opacity: 1 !important;
}

/* Below user popouts are legacy/glitchy */

/* .userPopout-2j1gM4 {
  font-weight: 700;
} */

/* .userPopout-2j1gM4 .headerNormal-3Zn_yu .banner-1YaD3N {
  background: red url("https://alanmun.github.io/p5r-discord-theme/p5star.gif") center center;
} */

/* .userPopout-2j1gM4 .avatarWrapper-eenWra .wrapper-1VLyxH {
  border-radius: 0;
}

.userPopout-2j1gM4 .avatar-2Vndt_ {
  border-color: var(--theme);
}

.userPopout-2j1gM4 .avatarWrapper-eenWra svg foreignObject img {
  mask: url("https://alanmun.github.io/p5r-discord-theme/im.png");
  transform: rotate(4deg);
}

.userPopout-2j1gM4 .avatarWrapper-eenWra .avatarHint-k7pYop foreignObject {
  mask: url("https://alanmun.github.io/p5r-discord-theme/im.png");
}

.userPopout-2j1gM4 .avatarWrapper-eenWra .avatarHint-k7pYop foreignObject img {
  transform: rotate(4deg);
}

.userPopout-3XzG_A .header-2BwW8b .headerText-2sdzFM {
  background: #fff;
  border-radius: 2px;
  border: 2px solid #000;
  padding: 2px;
  transform: skewY(3deg);
  color: var(--theme);
}

.userPopout-3XzG_A .header-2BwW8b .headerText-2sdzFM .headerName-fajvi9 {
  color: var(--theme);
}

.userPopout-3XzG_A .header-2BwW8b .headerText-2sdzFM .username-2b1r56 {
  color: var(--theme);
}

.userPopout-3XzG_A .header-2BwW8b .headerText-2sdzFM .username-2b1r56 + span {
  color: #000;
}
.userPopout-3XzG_A .header-2BwW8b .customStatus-1bh2V9 {
  display: inline-block;
  color: #fff;
  background: var(--theme);
  padding: 2px 5px;
  border-radius: 2px;
  border: 2px solid #000;
  transform: skewY(2.5deg);
}

.userPopout-3XzG_A .activityUserPopout-2yItg2 {
  background: var(--theme);
}

.userPopout-3XzG_A .activityUserPopout-2yItg2 .headerTextNormal-2mGWX3 {
  background: #fff;
  border-radius: 2px;
  border: 2px solid #000;
  color: var(--theme);
  display: flex;
  justify-content: center;
}

.userPopout-3XzG_A .body-3iLsc4,
.userPopout-3XzG_A .footer-1fjuF6 {
  background: rgb(12, 12, 12);
}

.userPopout-3XzG_A .textarea-2r0oV8,
.userPopout-3XzG_A .footer-1fjuF6 .inputWrapper-31_8H8 input {
  border-color: var(--theme);
  background: rgba(50, 50, 50, 0.1);
}

.userPopout-3XzG_A .textarea-2r0oV8:focus,
.userPopout-3XzG_A .footer-1fjuF6 .inputWrapper-31_8H8 input:focus {
  background: #000;
  border-color: #fff;
} */

/* New Server */

.container-1CE3eW {
  background: #000;
  border: 2px solid #fff;
  transform: skewX(-1deg);
}

.container-1CE3eW .flex-1xMQg5 {
  background: #000;
  border-top: 0;
}

.container-1CE3eW .colorHeaderPrimary-26Jzh- {
  color: var(--theme);
  background: #fff;
  padding: 5px 15px;
  border: 2px solid var(--theme);
  border-radius: 2px;
  transform: skewX(2deg);
}

.container-1CE3eW .colorHeaderSecondary-3Sp3Ft {
  color: #fff;
}

.container-1CE3eW .container-UC8Ug1 {
  background: var(--theme);
  border: 2px solid #fff;
  border-radius: 2px;
  display: inline-flex;
  transform: skewX(3deg);
  position: relative;
}

.container-1CE3eW .container-UC8Ug1 .colorStandard-2KCXvj,
.container-1CE3eW .flex-1xMQg5 .colorStandard-2KCXvj {
  color: #fff;
}

.container-1CE3eW .container-UC8Ug1 .colorStandard-2KCXvj::after {
  content: "";
  position: absolute;
  top: calc(50% - 6px);
  right: 25px;
  width: 11px;
  height: 11px;

  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: rotate(-45deg);
}

.container-1CE3eW .container-UC8Ug1 .arrow-hynWUl {
  display: none;
  color: #fff !important;
  /* opacity: 0; */
}

.container-1CE3eW .flex-1xMQg5 .footerButton-ayFTfX {
  background: var(--mp-pink);
}

.container-1CE3eW .flex-1xMQg5 .footerButton-ayFTfX:hover {
  background: var(--hp-green);
}

/* Big Profile Views? */

/* Nickname Popup */
.focusLock-Ns3yie .root-1gCeng {
  border-radius: 2px;
  border: 2px solid #fff;
}

.focusLock-Ns3yie .modal-2VIBV8 {
  background: #000;
}

.focusLock-Ns3yie,
.focusLock-Ns3yie .modal-2VIBV8 .close-hZ94c6 {
  top: 0;
}

.focusLock-Ns3yie form {
  background: #000;
}

.focusLock-Ns3yie form .title-3sZWYQ {
  display: inline-flex;
  background: #fff;
  padding: 5px 10px;
  border-radius: 2px;
  border: 2px solid var(--theme);
  color: #000;
  flex: 0 0 auto;
  margin: 5px auto;
  transform: skewX(4deg);
}

.focusLock-Ns3yie form .input-cIJ7To {
  background: #fff;
  color: #000;
  border-radius: 2px;
}

.focusLock-Ns3yie form .input-cIJ7To::placeholder {
  color: var(--theme);
}

.focusLock-Ns3yie form .input-cIJ7To:focus {
  border-color: var(--theme);
}

.focusLock-Ns3yie form .reset-2ikQ30 {
  color: var(--mp-pink);
}

.focusLock-Ns3yie .item-26Dhrx,
.focusLock-Ns3yie .item-26Dhrx .info-3LOr12 {
  background: #000;
}

.focusLock-Ns3yie .item-26Dhrx:hover,
.focusLock-Ns3yie .item-26Dhrx:hover .info-3LOr12 {
  background: rgba(10, 10, 10, 0.8);
}

.focusLock-Ns3yie .item-26Dhrx .radioBar-bMNUI- > svg path,
.focusLock-Ns3yie .item-26Dhrx .radioBar-bMNUI- > svg circle {
  fill: var(--theme);
}

.focusLock-Ns3yie .flex-1xMQg5 {
  background: #000;
}

.focusLock-Ns3yie .flex-1xMQg5 .button-38aScr {
  background: #000;
  border: 2px solid #fff;
  border-radius: 2px;
  margin: 0 5px;
  transform: skewX(-2deg);
}

.focusLock-Ns3yie .flex-1xMQg5 .colorBrand-3pXr91 {
  background: #fff;
  color: var(--theme);
}

.focusLock-Ns3yie .flex-1xMQg5 .colorBrand-3pXr91:hover {
  background: var(--theme);
  color: #fff;
}

/* Notification Settings */

.focusLock-Ns3yie .content-1LAB8Z {
  background: #000;
}

/* Voice */

/* .slider-1PF9SW .bar-2Qqk5Z {
  background: #fff;
}

.slider-1PF9SW .barFill-23-gu- {
  background: var(--p5-blue);
}

.slider-1PF9SW .grabber-3mFHz2 {
  background: var(--p5-blue);
} */

/* Everyone popup */

.theme-dark .everyonePopout-nEbJY3 {
  background: var(--theme);
}

.theme-dark .everyonePopout-nEbJY3 .button-1VQp89 {
  color: #fff;
  border-color: #fff;
}

.theme-dark .everyonePopout-nEbJY3 .colorStandard-2KCXvj {
  color: #fff;
}

.theme-dark .everyonePopout-nEbJY3 .lookFilled-1Gx00P {
  background: #fff;
  color: var(--theme);
}

/* File Upload Popup */

.theme-dark .uploadModal-2ifh8j {
  background: #000;
  box-shadow: 0 0 0 2px #fff;
  border-radius: 2px;
  transform: skewY(-1deg);
}

.theme-dark .uploadModal-2ifh8j .inner-3nWsbo {
  background: #000;
}

.theme-dark .uploadModal-2ifh8j .inner-3nWsbo .icon-kyxXVr {
  border-radius: 2px;
  box-shadow: 0 0 0 2px #fff;
  transform: skewX(2deg);
}

.theme-dark .uploadModal-2ifh8j .inner-3nWsbo .description-2ug5H_ {
  background: var(--theme);
  border-radius: 2px;
  box-shadow: 0 0 0 2px #fff;
  transform: skewX(-5deg) scale(0.92);
  padding: 5px !important;
  margin: 10px 0;
}

.theme-dark
  .uploadModal-2ifh8j
  .inner-3nWsbo
  .channelTextAreaUpload-3t7EIx
  .scrollableContainer-2NUZem {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 0 0 2px var(--theme);
}

.theme-dark .uploadModal-2ifh8j .footer-3mqk7D {
  background: #000;
  box-shadow: none;
}

.theme-dark .uploadModal-2ifh8j .footer-3mqk7D .button-38aScr {
  border-radius: 2px;
  background: #fff;
  color: var(--theme);
  margin: 0 5px;
  box-shadow: 0 0 0 2px var(--theme);
}

.theme-dark
  .uploadModal-2ifh8j
  .footer-3mqk7D
  .inputDefault-3JxKJ2:checked
  + .checkbox-1ix_J3 {
  border-color: var(--mp-pink) !important;
}

.theme-dark
  .uploadModal-2ifh8j
  .footer-3mqk7D
  .inputDefault-3JxKJ2:checked
  + .checkbox-1ix_J3
  svg
  path {
  fill: var(--mp-pink) !important;
}

.theme-dark .uploadModal-2ifh8j .footer-3mqk7D .button-38aScr:hover {
  background: var(--mp-pink);
  color: #fff;
  box-shadow: 0 0 0 2px #fff;
}

.theme-dark
  .uploadModal-2ifh8j
  .footer-3mqk7D
  .button-38aScr[type="submit"]:hover {
  background: var(--theme);
  color: #fff;
}

.toolbar-2bjZV7 {
  background: #000;
  border-radius: 2px;
  box-shadow: 0 0 0 2px #fff;
  transform: skewY(2deg);
}

.toolbar-2bjZV7 .button-qqmJ7w {
  transform: scale(0.9);
}

.toolbar-2bjZV7 .button-qqmJ7w:hover svg {
  color: var(--theme);
}

/* Tags */

.botTag-3W9SuW,
.bot-2Fta1w,
.botTag-1un5a6 {
  background: var(--mp-pink);
}

.botTag-3W9SuW span,
.bot-2Fta1w span,
.botTag-1un5a6 span {
  color: #fff;
}

.botTagVerified-1klIIt {
  color: #fff;
}
